{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-body">
            <h1 class="card-title text-primary">Вход</h1>
            <p class="card-text">Пожалуйста, войдите в систему, чтобы продолжить.</p>

            <form action="/login/" method="POST" class="mt-4">
                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Войти</button><br>
                <a href="/login/register" class="card-text">Зарегистрироваться</a>
            </form>

            <div class="mt-4">
                <a href="/login/auth" class="btn btn-secondary btn-lg">
                    <i class="fab fa-yandex"></i> Войти через Яндекс
                </a>
            </div>
        </div>
    </div>
</div>



{% endblock %}
