{% extends 'base.html' %}

{% block title %}
Загрузка файла
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-body">
            <h1 class="card-title text-primary">Загрузить файл</h1>
            <p class="card-text">
                Вы можете загрузить файл для проверки его безопасности с помощью VirusTotal API.
            </p>

            <!-- Блок для отображения флэш-сообщений -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% if message["method"] == "POST" %}
                {% if message["file_size_error"] %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Ошибка:</strong> Размер файла превышает 1 МБ!
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        Файл успешно загружен и отправлен на проверку.
                    </div>
                {% endif %}
            {% endif %}

            <form action="/file/upload/" method="POST" enctype="multipart/form-data" class="mt-4">
                <div class="mb-3">
                    <label for="file" class="form-label">Выберите файл для загрузки:</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Загрузить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
